body{
    margin: 0;
}

nav{
    align-items: center;
    background-color: #fe7a35;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    
}

a{
    color: rgb(70, 70, 129);
    text-decoration: none;
    font-size: 22pt;
    font-family: 'VT323', monospace;
}

header{
    background-image: url(images/kages2.jpg);
    background-size: cover;
    height: 400px;

}

section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(148, 97, 56);
}

div{
    width: 40%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

div ul{
    list-style-image: url(images/ninja.png);
}

ul li:nth-child(odd){
    color: white;

}

 h2{
    font-family: 'VT323', monospace;

}

input::placeholder{
    font-family: 'VT323', monospace;
    font-size: 18px;
}

input:focus{
    background-color: rgb(223, 223, 223)
}

h3{
    font-family: 'VT323', monospace;
    font-size: 26px;
}

footer div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

footer{
    background-color: #fe7a35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

button {
    font-family: 'VT323', monospace;
    font-size: 18px;
}

button:focus{
    background-color: rgb(158, 197, 184)
}


.face {
    height: 40px;
    align-items: center;
}

.tt{
    height: 38px;
}

.insta{
    height: 35px;
}